.feUeJY {
  padding: 0 !important;
}

.hjYBZW,
body {
  font-family: "NanumBarunGothic" !important;
  color: #fefefe;
  /* background-color: #1f1f24; */
  /* background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59) !important; */
  /* background: linear-gradient(45deg, #434343, #232526) !important; */
  background: linear-gradient(45deg, #c31432, #240b36) !important;
  /* background: linear-gradient(45deg, #7b4397, #dc2430) !important; */
  /* background: linear-gradient(45deg, #6a3093, #a044ff) !important; */
  /* background: linear-gradient(45deg, #5c258d, #4389a2) !important; */
}
