.iGYoye a {
  color: #d9534f !important;
}
.styled__PostContent-jKyqRA,
.jmqWFv {
  /* background-color: rgba(255, 255, 255, 0.2) !important;
  color: black; */
  padding: 20px !important;
}

ol,
ul {
  list-style: unset !important;
}
.hljs-text {
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color: #808588;
  font-family: "NotoSans-Medium";
}
@font-face {
  font-family: "BMHANNAPro";
  src: url("../../fonts/BMHANNAPro.ttf");
}
@font-face {
  font-family: "NotoSans-Medium";
  src: url("../../fonts/NotoSans-Medium.ttf");
}
body {
  font-family: "BMHANNAPro";
}
